{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">

        {% if group.over %} 
            <h1>{{group.name}} - Complete</h1>
        {% else %}
            <h1>{{group.name}} - {{group.expiry}} days left</h1>
        {% endif %}
    </div>
</div>

{% for m in group.members %}
    <div class="col">
        {% if subs[loop.index0] != "" %}      
            <li style="color:Green;"> {{m}} </li>    
        {% else %}
        <li style="color:Red;"> {{m}} </li>
        {% endif %}
    </div>
{% endfor %}

<div class="row">
    <h2>Submissions:</h2>
</div>

<div class = "col">
    {% for s in subs %}
        {% if s != "" %}
            <li>{{s}}</li>
        {% endif %}
    {% endfor %}
</div>

<br>
<br>
<br>

{% if group.over %} 
    <div class="row">
        <div class="col-md-12">
          <h2> Comments: </h2>
          <ul class="media-list">
            {% for review in group.comments%}
            <li class="media review-item">
              <div class="media-body">
                <span class="float-right">
                  <small>{{ review.date }}</small>
                </span>
                <a> <strong>@{{ review.commenter }}</strong> </a>
                <p>
                  {{ review.content }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <form method="POST" action="/">
            {{ cf.csrf_token }}
            <div class="form-group">
              {{ cf.text.label }}
              {{ cf.text(class="form-control") }}
      
              {% if cf.text.errors %}
              <div class="alert alert-warning" role="alert">
                {% for error in cf.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% endif %}
      
            </div>
            {{ cf.submit() }}
          </form>
        </div>
      </div>
{% else %}
    <a href="{{ url_for('songs.s', gid=group.g_id) }}"> Submit Song</a>
{% endif %}

{% endblock %}